# Ignore the virtual environment
.venv/

# Ignore the test images and videos
examples/

# Ignore the log files
*.log*

# Ignore __pycache__ directories
__pycache__/

# Ignore the outputs directory
outputs/